.trending-creator-warpper {
    background-image: url(../../../../public/assets/images/t-creator-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px;
    height: 164px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99999999;
}

.trending-creator-overlay::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.70);
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    left: 0;
    top: 47px;
    z-index: -1;
}

.trending-creator-overlay {
    z-index: 10;
}

.trending-creator-content h2 {
    color: #fff;
    font-size: 20px;
    margin-top: 42px;
    margin-bottom: 4px;
}

.trending-creator-content p {
    color: #fff;
    font-size: 13px;
    opacity: 0.7;
}

.trending-creator-content h3 {
    color: #fff;
    font-size: 13px;
}

.trending-creator-content button {
    display: flex;
    width: 90px;
    padding: 8.038px;
    justify-content: center;
    align-items: center;
    gap: 8.038px;
    border-radius: 6.431px;
    background: #3E95EF;
    font-size: 13px;
    border: none;
    color: #fff;
    position: absolute;
    right: 23px;
    bottom: 16px;
}


.trending-creator-content button:hover{
    background-color: rgb(217,26,70);
}